.slider table{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    
}
.slider tr th,
.slider tr td{
    text-align: center;
    border:1px solid #555;
}


.slider tr th, .slider tr td{
    border:px solid #555;
    padding: 3px;
    height: 25px;
}

.slider tr th{
    width: 70px;
}
.slider{
    overflow: auto;
    margin-left: 103px;
}

.slider tr th:first-child,
.slider tr td:first-child{
    width: 90px;
    position: absolute;
    left:12px;

    height: 25px;
}
